.wc-latitude-alert-primary {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.wc-latitude-alert {
    font-size: 12px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.lp-modal-close {
	background: #fff;
    color: black;
}